<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <!--link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet" /-->
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="/">Register Users</a></li>
          <li class="active"><a href="/users">See Users</a></li>
        </ul>
      </nav>
      <hr>
      <h1>Users</h1>
      <div class="span10 content">

      </div>
    </div>

    <script src="/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/users.js"></script>
  </body>
</html>
